body{
    color:#333;
}
h1{
    margin: 20px auto;
    text-align: center;
}
 input{
    display: block;
    padding: 8px 16px;
    font-size: 2em;
    margin: 10px auto;
    width: 50%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid blue;
    text-align: center;
    outline: none !important;
 }
 button{
    display: block;
    padding: 8px 16px;
    font-size: 2em;
    margin: 10px auto;
    width: 50%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid blue;
    text-align: center;
    outline: none !important;
 }
 